- var scripts = getBlock('scripts')
- var styles = getBlock('styles')
- var urls = getMetaUrls( )

//- Prettify Syntax Highlighting
- scripts.add(["/vendor/prettify.js"])
- styles.add(["/vendor/prettify.css"])

//- jQuery
- scripts.add(["/vendor/jquery/dist/jquery.js"])

//- Bootstrap
- scripts.add(["/vendor/components-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/components-bootstrap/css/bootstrap.css"])


//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.js"])
- scripts.add(["/scripts/autolink_heading.js"])

//- User
- styles.add(["/styles/style.css"])
- scripts.add(["/scripts/script.js"])

//- Document
- styles.add(document.styles || [ ])
- scripts.add(document.scripts || [ ])

doctype html
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  body

    // Markup
    // For now hide the navbar, single page site
    - var showNav = document.HideNav ? "display: none" :  ""
    nav.navbar.navbar-default.navbar-fixed-top(style=showNav)
      .container
        .navbar-header
          a.navbar-brand(href="/") Welcome
        ul.nav.navbar-nav
          each doc in getCollection('posts').toJSON()
            - clazz = (document.url === doc.url) ? 'active' : null
            li(typeof="sioc:Page", about=doc.url, class=clazz)
              a(href=doc.url, property="dc:title")= doc.title
    .container
      section#content.content!= content
      hr
      footer
        div
          h5 Contribute
          ul
            li: a.edit.github(href=urls.edit) Edit on github.com
            li: a.view.github(href=urls.view) View on github.com
            li: a.edit.prose(href=urls.prose) Edit on prose.io
        div= site.copyright
        div(style="font-style:italic; font-size: 12px") This website was last updated at #{site.date}

    // Scripts
    != scripts.toHTML()
